body {
  margin: 0;
  background-color: black;
}
.dropdownStyle {
  background-color: black !important;
}
.dropdownStyle .ant-dropdown-menu-item {
  color: white;
}

.dropdownStyle .ant-dropdown-menu-item:hover {
  background-color: #333;
}
.siderButton:hover {
  background-color: rgb(40, 40, 40) !important;
  border-color: rgb(255, 255, 255) !important;
}
.siderButton {
  background-color: black;
  color: white !important;
  border-color: rgb(0, 0, 0);
}
